<div class="col-sm-6 col-sm-offset-3">

	<div class="panel panel-default ">
		<div class="panel-body">
			<form role="form" method="post" action="/story/create">
				<div class="form-group">
					<label for="pet_id" class="cols-sm-2 control-label">Pet id</label>
					<div class="cols-sm-2">
						<div class="input-group">
							<input type="tel" class="form-control" name="pet_id" placeholder="Enter pet id"/>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="title" class="cols-sm-12 control-label">Story title</label>
					<div class="cols-sm-12">
						<div class="input-group">
							<input type="text" class="form-control" name="title" placeholder="Enter story title"/>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label for="story" class="cols-sm-12 control-label">Pet story</label>
					<div class="cols-sm-12">
						<div class="input-group">
							<input type="tel" class="form-control" name="story" placeholder="Enter pet story"/>
						</div>
					</div>
				</div>
				
				<div class="text-right">
					<button class="btn btn-primary">Register</button>
				</div>
			</form>
		</div>
	</div>

</div>
