<div class="col-sm-4 col-sm-offset-4">

	<div class="panel panel-default ">
		<div class="panel-body">
			<form role="form" method="post" action="/pet/register_user">
				<div class="form-group">
					<label for="key" class="cols-sm-2 control-label">Confirm key</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<input type="text" class="form-control" name="key" placeholder="Enter confirm key"/>
						</div>
					</div>
				</div>
				<div class="text-right">
					<button class="btn btn-primary">Register</button>
				</div>
			</form>
		</div>
	</div>

</div>
